/* Media Query */

@media only screen and (max-width: 980px ) and ( min-width: 769px) {
    .headerContainer {
      width: 100%;
    }
    .biocontainer {
      width: 100%;
    }
}
  
  @media only screen and (max-width: 768px) and (min-width: 641px){
    .headerContainer {
        width: 100%;
        overflow: auto;
    }
    .biocontainer {
        width: 100% !important;
        overflow: hidden !important;
    }
    .portfolio-pic-holder {
        float: none !important;
    }
    #headercontent {
        max-width: 768px auto;
    }
    
} 
  
  
  @media only screen and (max-width: 640px) and (min-width: 0px) {
    
    .headerContainer {
      width: 100%;
      overflow: auto;
      
    }
    .bioContainer {
      width: 70%;
      overflow: hidden;
    }
    .portfolio-pic-holder {
        float: none !important;
    }
    #headercontent {
        max-width: 640px auto;
    }
    
}
 